#follow, #unfollow {
  position: absolute;
	display: inline-block;
  top: 30px;
  width: 20%;
  margin: 10px;
  padding: 5px;
  height: 80%;
  border-style: solid;
}

#unfollow {
  left: 30px;
}

#follow {
  right: 30px;
}

.user {
  cursor: pointer;
  padding: 5px;
}

.user.selected {
  background-color: yellow;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid; 
}

.follow, .unfollow {
  position: absolute;
  bottom: 10px;
}