#follow, #unfollow {
	display: inline-block;
  top: 30px;
  right: 30px;
  width: 20%;
  margin: 10px;
  padding: 5px;
  min-height: 500px;
  border-style: solid;
}

#unfollow {
	float: left;
}

#follow {
  float: right;
}

.user {
  cursor: pointer;
  padding: 5px;
}

.user.selected {
  background-color: yellow;
  border-radius: 1px;
  border-style: solid; 
}